
/* --------------------------------------------- Vertical Navigation Bar --------------------------------------------------*/

        .navBar {
            position: fixed;
            z-index: 1;
            top: 25%;
            left: 50px;
            background-color: none;
            max-height: calc(100% - 50px);
            overflow-y: auto;
        }


        .navBar a {
            padding: 20px 20px 20px 0px;
            text-decoration: none;
            font-size: 20px;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            color: #818181;
            display: block;
        }


        .navBar a:hover {
            color: black;
        }




/*--------------------------------------------------------------------------------------------------------------------- */


/*-------------------------------------------------- The actual content ------------------------------------------------*/

        .main {
            margin-left: 180px;
            padding-left: 50px;
            padding-right:10px;
            padding-bottom: 120px;
        }

/* ---------------------------------------------------------------------------------------------------------------------*/


/* -------------------------------------------------- Portfolio Content ------------------------------------------------*/

        .image {
            opacity: 1;
            display: block;
            width: 100%
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
/*            width: 520px;
            height: 330px;*/

        }


        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }


        .container:hover .image {
            opacity: 0.15;
        }


        .container:hover .middle {
            opacity: 1;
        }


        .text {
            background-color: none;
            color: black;
            font-size: 2vw;
            padding: 10%;
        }

        .des {
            font-size:1vw;
        }

/* ------------------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------ Make it Grid ----------------------------------------------------- */

        *{
            box-sizing: border-box;
        }


        .column {
            -ms-flex: 25%;
            flex: 25%;
            float: left;
            width: 50%;
            padding: 10px;
        }


        .row:after {
            content: "";
            display:table;
            clear: both;
        }


        .container {
            position: relative;
            width: 100%;
            overflow: hidden;
        }

/* ------------------------------------------------------------------------------------------------------------------------ */


/* ------------------------------------------------ Paragraph style --------------------------------------------------------- */
        h1{
            font-size: 36px;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            line-height: 50px;
        }

        h2 {
            font-size: 33px;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            margin-top: 0px;
            padding-left: 130px;
            padding-right: 150px;
        }


        p{
            font-size: 15px;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            line-height: 30px;
            padding-left: 130px;
            padding-right: 150px;
        }

        h3 {
            font-size: 30px;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            padding-left: 130px;
            padding-right: 150px;
            letter-spacing: 6px;
        }

        h4{
            font-size: 24px;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            padding-left: 130px;
            padding-right: 150px;
        }

        a{
            color: #2E3192;
            text-decoration: none;
        }

        a:hover {
            color: #96A3BA;
            cursor: pointer;
        }

        section{
            display: inline-block;
        }



/* -------------------------------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------- Other specifics ---------------------------------------------- */

        .avocado{ /* For the avocado thingy */
            display: block;
            width: 18%;
            margin-left: auto;
            margin-right:auto;
            margin-top: 70px
        }


        @media screen and (max-width: 1000px) {
            .navBar {
                width: 100%;
                position: relative;
                left:0px;
                }

            .navBar a {
                text-align: center;
                float: none;
                font-size:2vw;
                padding: 5px 5px 5px 5px;
                }

            div.content {margin-left: 0;}

            .main {
                margin-left:0px;
                padding-left: 0px;
                padding-right:0px;
                padding-bottom:50px;
            }

            .column{
              width: 100%
            }

            p {
                padding-right: 10px;
                padding-left:10px;
                font-size: 12px;
            }

            h1{
                font-size: 30px;
                font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
                line-height: 50px;
            }

            h2 {
                font-size: 24px;
                font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
                margin-top: 0px;
                padding-left: 10px;
                padding-right: 10px;
            }

            h3 {
                font-size: 20px;
                font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
                padding-left: 10px;
                padding-right: 10px;
                letter-spacing: 6px;
            }

            h4{
                font-size: 17px;
                font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
                padding-left: 10px;
                padding-right: 10px;
            }

            ol{
                font-size: 10px;
                font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
                line-height: 30px;
/*                padding-right: 10px;  */
            }

            li{
                font-size:10px;
            }

            .text {
                background-color: none;
                color: black;
                font-size: 13px;
                padding: 16px /*32px*/;
            }
            .des {
            font-size:9px;
            }



    }
