body{
    /* min-height: 100vh; */
    /* height: 100%; */
    background: linear-gradient(to bottom, hsl(209, 40%, 39%), hsl(239, 100%, 17%), hsl(269, 100%, 7%)); 
    background-attachment: fixed;
    margin: 0;
  }
  
* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 180%;
}

.nav-link{
    font-weight:500;
}

.intro-button{
    border-color: white;
    color: white;
    padding: 2% 3%;
    margin: 2%;
}

.project-list{
    margin: 0% 8%;
}

#intro-row{
    margin: 3% 0% 5% 0%;
}

.intro-text{
    color:white;
    margin-top: 39%;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: 100;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#name{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-42%, -42%);
}

#large-logo{
    margin-top: 10%;
    width: 80%;
}

#logo-name{
    color: white;
    letter-spacing: 9px;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}

.middle{
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.3rem;
}

.project-brief{
    background: linear-gradient(180deg, rgba(255,255,255,0) 45%, #aeffbb 65%);
    display: inline;
}

.card:hover .card-img {
    opacity: 0.05;;
  }
  
.card:hover .middle {
    opacity: 1;
  }
  
.circle{
    height: 50px; 
    width: 50px;
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.3);
    top: -70px;
    left: 100px;
    position: absolute;
    z-index: -1;
}

.circle-image{
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color:white;
    overflow: hidden;
    width:300px;
    height: 300px;
    display:block;
    margin-left: auto;
    margin-right:auto;
    position: sticky;
}

.about{
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
/*    width: 100%;*/
}
 
#about-text{
    color: white;
    margin: 0% 8%;
}

#about-intro{
    margin-bottom: 6%;
}

#side-project-text{
    color:white;
    text-align: center;
    letter-spacing: 1px;
}


html { scroll-behavior: smooth; } 

@media only screen and (max-width: 767px) {
    #large-logo{ 
        width: 90%;
    }
    
    .intro-text{
        margin-top:0;
    }

    .about{
        top: 10%;
        -ms-transform: translateY(0);
        transform: translateY(0);
        width: 100%;
    }
    
    .navbar-collapse{
        background-color: rgba(0, 0, 0, 0.514) ;
    }

    body{
        margin: 15px;
    }

    .project-list{
        margin: 0% 0%;
    }

    #dive-in-button{
        visibility: hidden;
    }
}

@media only screen and (max-width: 992px){
    .circle-image{
        margin-bottom: 50px;
        margin-top: 50px;
    }

    #large-logo{ 
        width: 90%;
    }
    
    .intro-text{
        margin-top:0;
    }

    .about{
        top: 10%;
        -ms-transform: translateY(0);
        transform: translateY(0);
        width: 100%;
    }
    
    #dive-in-button{
        visibility: hidden;
    }

}